:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--link-color: #2196f3;
	--primary-bg-color: #ffffff;
	--secondary-bg-color: #2f303a;
	--third-bg-color: #f5f4fa;
	--logo-color: #000000;
}

body {
	background: var(-primary-bg-color);
	color: var(--primary-text-color);
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	letter-spacing: 0.03em;
}

/* -----RESET----- */

.list {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

.link {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.container-footer,
.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	/* outline: 3px solid rgb(46, 2, 2);  */
}

.list {
	display: flex;
}

/*  ----....-----СТУДІЯ-----....-----*/

.header-container {
	display: flex;
	align-items: center;
}

/* Логотип */
.logo-head.link {
	margin-right: 93px;
}

.logo-head.link,
.footer-logo.link {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
}

.logo-head {
	color: var(--logo-color);
}

.web {
	color: var(--link-color);
}

/* Навігація */
.link {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--title-text-color);
}

.link:hover,
.link:focus {
	color: var(--link-color);
}
.current {
	color: var(--link-color);
}

.logo-head.link {
	display: block;
	padding-top: 24px;
	padding-bottom: 25px;
}

/* Меню */

.list.menu {
	align-items: center;
	gap: 30px;
}

.link.studia,
.link-studio,
.link-contact,
.link.current,
.link-portfolio,
.contact-header {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
}

/* Контакти */

.contacts.list {
	margin-left: auto;
}

.contact-item:first-child {
	margin-right: 50px;
}

.contact-header {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--primary-text-color);
}

.contact:hover,
.contact:focus {
	color: var(--link-color);
}

/* -------------ТІЛО------------ */

.section.slogan {
	padding-top: 200px;
	padding-bottom: 200px;
}

.slogan {
	background-color: var(--secondary-bg-color);
}

.slogan-title {
	width: 696px;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	margin: auto;
	margin-bottom: 30px;
	color: var(--primary-bg-color);
}

.button {
	font-family: "Roboto";
	font-size: 16px;
	border: 0px;
	border-radius: 4px;
}

.btn-service {
	min-width: 216px;
	min-height: 50px;
	padding: 10px 32px;
	font-weight: 700;
	line-height: 1.87;
	display: block;
	margin: auto;

	color: var(--primary-bg-color);
	background: var(--link-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Характеристика нашої роботи */

.section-title {
	color: var(--title-text-color);
}

.section-title.characteristic {
	line-height: 1.14;
	text-transform: uppercase;
}

.iten-character:not(:last-child) {
	margin-right: 30px;
}

.paragraph {
	line-height: 1.71;
}

.section-character {
	padding-top: 94px;
	padding-bottom: 94px;
}

/* Чим ми займаємося */

.activity-pic.list,
.list-comand {
	gap: 30px;
}

.section.do {
	padding-bottom: 94px;
}

.section-title.do {
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	margin-bottom: 50px;
}
.section-title.characteristic,
.section-title.name {
	margin-bottom: 10px;
}

/* Наша команда */

.comand-item {
	background-color: var(--primary-bg-color);
	border: 1px solid rgba(0, 0, 0, 0.12);
	border-radius: 3px;
}

.div-comand {
	padding-top: 30px;
	padding-bottom: 30px;
}

.section.comand {
	background-color: var(--third-bg-color);
	padding-top: 94px;
	padding-bottom: 94px;
}

.section-title.name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
}

/* ----------ПІДВАЛ-----------*/

.list-footer {
	display: inline;
}

.footer-logo.link {
	display: block;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	margin-bottom: 20px;
}

.studio {
	color: var(--primary-bg-color);
}

.work {
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
}

.footer-section {
	padding-top: 60px;
	padding-bottom: 60px;
	background: var(--secondary-bg-color);
}

.maps.link,
.contact-footer {
	display: block;
	line-height: 1.71;
	font-weight: normal;
	font-style: normal;
}

.maps.link {
	color: var(--primary-bg-color);
}

.contact-footer.link {
	color: rgba(255, 255, 255, 0.6);
}

.contact-footer.link:hover,
.contact-footer.link:focus,
.maps.link:hover,
.maps.link:focus {
	color: var(--link-color);
}

.footer-item:not(:last-child) {
	margin-bottom: 9px;
}

/*  ----....-----ПОРТФОЛІО-----....-----*/

.head {
	border-bottom: 1px solid #ececec;
}

.list.projects {
	margin-right: 0;
}

/* Кнопки*/
.btn-list {
	padding: 6px 22px;
	font-weight: 500;
	line-height: 1.62;

	background: var(--third-bg-color);
	color: var(title-text-color);
}

.btn-list:first-child {
	padding-left: 25px;
	padding-right: 25px;
}

.btn-list:focus,
.btn-list:hover,
.btn-list:active {
	color: var(--primary-bg-color);
	background: var(--link-color);
}

.products.list {
	gap: 8px;
	justify-content: center;
	margin-bottom: 50px;
}

/* --------ПРОЕКТИ------- */

/* .project-item{
	outline: 1px solid orangered;
} */

.section.portfolio {
	padding-top: 94px;
	padding-bottom: 94px;
}

.list.projects {
	display: block;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.project-item {
	max-width: 370px;
	flex-basis: calc((100%-30px * 3) / 3);
	border: 1px solid #eeeeee;
}

.item-project {
	padding: 20px 24px;
}

.work-name {
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	margin-bottom: 4px;

	color: var(--title-text-color);
}

.job {
	font-size: 16px;
	line-height: 1.9;
}
